<a href="https://colab.research.google.com/github/Mahnazshamissa/Python/blob/main/Fruits.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
fruits = ['bananas', 'mangoes', 'oranges', 'others'] 
quantities = [400, 300, 500, 200]
arrFruits = np.array(quantities)
probs = arrFruits/np.sum(arrFruits)

In [ ]:
import pickle
with open('/content/fruit_data.pkl','rb') as fin: 
  data = pickle.load(fin)

In [ ]:
data

array([['others', '0', '1', '0', '1', '0'],
       ['bananas', '1', '0', '1', '0', '0'],
       ['bananas', '1', '0', '1', '0', '0'],
       ...,
       ['bananas', '1', '1', '1', '0', '0'],
       ['oranges', '0', '1', '0', '1', '0'],
       ['oranges', '0', '1', '0', '1', '0']], dtype='<U21')

In [ ]:
data.size

8400

In [ ]:
def this_fruit_data(fruit_name, fruit_quantity, long_count, sweet_count, yellow_count, seed_count, br_count):


    longg = np.concatenate((np.ones((long_count,), dtype=int), np.zeros((fruit_quantity - long_count,), dtype=int))) 
    np.random.shuffle(longg)

    sweet = np.concatenate((np.ones((sweet_count,), dtype=int), np.zeros((fruit_quantity - sweet_count,), dtype=int))) 
    np.random.shuffle(sweet)

    yellow = np.concatenate((np.ones((yellow_count,), dtype=int), np.zeros((fruit_quantity - yellow_count,), dtype=int))) 
    np.random.shuffle(yellow)

    seeds = np.concatenate((np.ones((seed_count,), dtype=int), np.zeros((fruit_quantity - seed_count,), dtype=int))) 
    np.random.shuffle(seeds)

    brazil = np.concatenate((np.ones((br_count,), dtype=int), np.zeros((fruit_quantity - br_count,), dtype=int))) 
    np.random.shuffle(brazil)

    fruits = np.full((fruit_quantity,1), fruit_name)
    this_fruit_data = np.column_stack((fruits, longg, sweet, yellow, seeds, brazil,))
    return this_fruit_data

In [ ]:
bananas = this_fruit_data('bananas', quantities[0], 360, 250, 390, 0, 65)

In [ ]:
bananas

In [ ]:
mangoes = this_fruit_data('mangoes', quantities[1], 110, 200, 120, 0, 300)

In [ ]:
oranges = this_fruit_data('oranges', quantities[2], 3, 460, 30, 470, 10)

In [ ]:
others = this_fruit_data('others', quantities[3], 45, 200, 100, 190, 0)

In [ ]:
total_fruit_data = np.vstack((bananas, mangoes, oranges, others))

In [ ]:
total_fruit_data

In [ ]:
mangoes_indices = np.where(total_fruit_data[:,0] == 'mangoes')[0]
oranges_indices = np.where(total_fruit_data[:,0] == 'oranges')[0]
bananas_indices = np.where(total_fruit_data[:,0] == 'bananas')[0]
others_indices = np.where(total_fruit_data[:,0] == 'others')[0]

In [ ]:
mangoes_indices
oranges_indices

In [ ]:
sum(total_fruit_data[mangoes_indices][:,3] == '1')
sum(total_fruit_data[bananas_indices][:,3] == '1')
sum(total_fruit_data[others_indices][:,3] == '1')
sum(total_fruit_data[oranges_indices][:,3] == '1')

In [ ]:
np.zeros([4,10])