<a href="https://colab.research.google.com/github/Mahnazshamissa/Python/blob/main/Rhymes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
!pip install pronouncing

df = pd.read_csv('https://raw.githubusercontent.com/estambolieva/asigmo_python/master/data/poem_line_data.csv')

Requirement already satisfied: pronouncing in /usr/local/lib/python3.6/dist-packages (0.2.0)
Requirement already satisfied: cmudict>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from pronouncing) (0.4.5)

In [20]:
import pandas as pd
import numpy as np
import pronouncing # we use this library to get rhymes

In [21]:
df.head()

   Unnamed: 0                          Title  ... Rhymes rhymes
0           0  Song of Myself (1892 version)  ...    NaN    NaN
1           1  Song of Myself (1892 version)  ...    NaN    NaN
2           2  Song of Myself (1892 version)  ...    NaN    NaN
3           3  Song of Myself (1892 version)  ...    NaN    NaN
4           4  Song of Myself (1892 version)  ...    NaN    NaN

[5 rows x 7 columns]

In [22]:
df['Rhymes'] = np.array([np.nan]* df.shape[0])

In [23]:
word = 'myself'
word_rhymes = pronouncing.rhymes(word)
word_rhymes.append(word)
word_rhymes

['chelf',
 'delph',
 'elf',
 'helf',
 'herself',
 'himself',
 'hisself',
 'itself',
 'oneself',
 'ourself',
 'ourself',
 'relf',
 'relph',
 'self',
 'selph',
 'shelf',
 'theirself',
 'themself',
 'themself',
 'thyself',
 'yourself',
 'yourself',
 'myself']

In [24]:
df.Last_Word.isin(word_rhymes)

0        False
1         True
2        False
3        False
4        False
         ...
40422    False
40423    False
40424    False
40425    False
40426    False
Name: Last_Word, Length: 40427, dtype: bool

In [ ]:
df.Rhymes[df.Last_Word.isin(word_rhymes)] = 0


**Now we work with the resut of the data which has np.NaN as a value in Rhymes**

In [28]:
 # the first word from Last_Word in the rest of this data, and repeat what we did for myself
df[df.Rhymes.isnull()]

       Unnamed: 0                          Title  ... Rhymes rhymes
0               0  Song of Myself (1892 version)  ...    NaN    NaN
2               2  Song of Myself (1892 version)  ...    NaN    NaN
3               3  Song of Myself (1892 version)  ...    NaN    NaN
4               4  Song of Myself (1892 version)  ...    NaN    NaN
5               5  Song of Myself (1892 version)  ...    NaN    NaN
...           ...                            ...  ...    ...    ...
40422       46779                  Ordinary Time  ...    NaN    NaN
40423       46781                  Ordinary Time  ...    NaN    NaN
40424       46783                  Ordinary Time  ...    NaN    NaN
40425       46785                  Ordinary Time  ...    NaN    NaN
40426       46787                  Ordinary Time  ...    NaN    NaN

[40248 rows x 7 columns]

In [ ]:
number_of_words_left = df[df.Rhymes.isnull()].shape[0]
category = 1
 
while number_of_words_left > 0:
 current_word = df.Last_Word[df.Rhymes.isnull()].iloc[0]

# get rhymes 
 word_rhymes = pronouncing.rhymes(str(current_word))
 word_rhymes.append(current_word)
# finished getting rhymes
 
# assign rhyme category to all words rhyning with the current word
 df.Rhymes[df.Last_Word.isin(word_rhymes)] = category
 
# get a new category
 category += 1

# see how many more words we have left
 number_of_words_left = df[df.Rhymes.isnull()].shape[0]
print(number_of_words_left)